body {
    background-image: url('../img/background.gif');
    background-size:cover;
    margin-top: 15rem;
    margin-left: 5rem;
    background-repeat: repeat;
    background-position: center;
    font-family: 'Kaisei HarunoUmi', serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Urbanist', sans-serif;
}

h1 {
    position:relative;
    top: -13rem;
    left: center;
    margin:1rem;
    display: inline;
    font-family: Roboto Mono;
    font-size: 1.3rem;
    color: white;

}

h2 {
    position:relative;
    top: -2.5rem;
    left: 1rem;
    display: inline;
    font-family: Roboto Mono;
    font-size: 1rem;
    color:skyblue;
}

p{
    position:relative;
    top: -3rem;
    left: 1rem;
    display:block;
    font-family: ROboto Mono;
    font-size: 0.7rem;
    color: skyblue;
}

a{
    color: white;
}

a:hover {
    color: yellow;
}
